.hidden {
	display: none !important;
}

.no-scroll {
	overflow-y: hidden;

	&::before{
		content:'';
		position: absolute;
		top: 100px;
		left: 0;
		bottom: -200%;
		right: 0;
		background: rgba(63, 63, 63, 0.50);
		z-index: 10;
	}
}